.products-in-cart{
    margin-top: 20px;
    margin-right: 200px;
    margin-left: 200px;
}
.products-in-cart img{
    width: 10%;
    margin-top: 10px;
}
.total-price{
    margin-right: 200px;
    font-size: 30px;
}
.small-containering{
    max-width: 1080px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.cart-button{
    padding-top: 50px;
    padding-right: 100px;
  
    float: right;
}

@media only screen and (max-width: 1000px) {
    .products-in-cart{
        margin-top: 10px;
        margin-right: 0%;
        margin-left: 0%;
        
    }
    .products-in-cart img{
        width: 70px;
    }
    .total-price{
        padding-top: 30px;
       
        font-size: 20px;
    }

  }
  @media only screen and (max-width: 600px) {
    .products-in-cart{
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 0%;
        
    }
    .products-in-cart img{
        width: 100px;
    }
    .total-price{
        padding-top: 30px;
       
        font-size: 20px;
    }
    .displaying{
        display: none;
    }
  }
  
