.products-in-cart{
    padding-bottom: 10%;
}
/* .fee{ */
    /* display: flex; */
    /* align-items:center; */
    /* flex-wrap: wrap;
    justify-content: space-around;
}
.fee .p:first-child{
    align-items:left;
}
.fee .p:last-child{
    align-items:right;
} */