*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat',sans-serif;

}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
.container{
    max-width: 1300px ;
    margin: auto;
    padding-left: 25px ;
    padding-right: 25px ;
}
.row{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    
}
.btn{
    display: inline-block;
    background: #f48b29;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
}
.btn:hover{
    background: #7ebdb4;
    /* color:#364547 */
}

.header{
    background: linear-gradient(#dbf6e9,#ffdcdc);
}
.header h1{
    color:#cc561e ;
}
.header p{
    color:#364547 ;
}
.header .row{
    margin-top: 10px;
}
#ecommerce_Image{
    width: 50%;
}
.categories{
    margin: 70px 0px;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
width: 100%;
}
.small-container{
    max-width: 1080px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
/* rating star */
.rating .fa{
    color: #7b8481;
}
.rating .checked {
    color: orange;
  }

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
/* line below "featured products" */
.title::after{
    content: '';
    background: #ff523b;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50);

}
h4{
    color: #555;
    font-weight:bolder;
}
.col-4{
    font-size: 14px;
}
.col-4:hover{
transform: translateY(-5px);
}
/*-------------offer-------*/
/* .offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0px;

}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: red;
} */

/*-------------footer-------*/
.footer{
    background:#ffb4b4;
    color: #ffe268;
    font-size: 14px;
    padding: 60px 0 20px;

}
/* .footer .p{
    color: aqua;
} */
.footer-col-1, .footer-col-2, .footer-col-3{
    text-align: center;
    margin-bottom: 20px;
}
.small-container h1{
    padding-bottom: 20px;
    padding-left: 10px;
}
/* .footer h3{
    color:#ff523b;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-3{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex:1;
    text-align: center;
}
.footer-col-2 img{
    width:180px;
    margin-bottom: 20px;
}
.footer-col-3 ,.footer-col-4{
    flex-basis: 12%;    
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px; */
/* } */
.menu-icon{
    width: 28px;
    margin-left: 20px;
    /* display:none; */
}
/*-------------All Products page-------*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
.row-2 h2{
    margin-left: 12px;
}
select{
    margin-right: 12px;
    margin-left: 12px;
    border: 2px solid #ff523b;
    padding: 5px;
    height: 42px;
    border-radius: 8px;
    appearance: none;
    text-align: center;
}
select:focus{
    outline: none;
    border: 2px solid blue;

}
select::after{
    content: "";
}
.row-2 option{
    text-align: center;

}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display:inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background-color: #ff523b;
    color: #fff;
}

/* --------single product details ---------*/

.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2 {
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product select input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}   
.single-product input{
    width: 80px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
/* media query for menu */
@media only screen and(max-width: 800px){
    nav ul{
        position: absolute;
        top:70px;
        left:0;
        background:#333;
        width: 100%;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    } 
    .col-4 img {
        width: 20%;
    }
}
@media only screen and(max-width: 800px){
    .row{
        text-align: center;
    }
    .col-2 .col-3 .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 22px;
    }
}
/*About Us */
.TeamInformation h2{
    color: #cc561e;
    margin-left: 52px;
    font-weight: 900;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
.TeamInformation p{
    margin-left: 25%;
    margin-right: 17%;
}
.parent1{
    display: flex;
    padding-right: 0px;
    }
.parent2{
    display: flex;
}
.team-info{
    width: 33.33%;
    padding-left: 25%;
}
.team-info img {
    height: 350px;
    width: 280px;
}
.team-info p{
    width: 300px;
    margin-bottom: 20px;
}
.member > h2{
    color: #cc561e;
    margin-left: 52px;
    font-weight: 900;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
.member img{
    margin-bottom: 20px;
}
/*ToS */
.ToS h2{
    color: #cc561e;
    margin-left: 52px;
    font-weight: 900;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
.ToS h3 {
    color: #cc561e;
    margin-left: 52px;
    font-weight: 900;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 40px;
}
.ToS p{
    color: #333;
    width: 80%;
    margin-bottom: 20px;
    padding-bottom: 40px;
    padding-left: 53px;
}
/*Privacy Policy */
.policy h2{
    color: #cc561e;
    margin-left: 52px;
    font-weight: 900;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
.policy h3 {
    color: #cc561e;
    margin-left: 52px;
    font-weight: 900;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 40px;
}
.policy p{
    color: #333;
    width: 80%;
    margin-bottom: 20px;
    padding-bottom: 40px;
    padding-left: 53px;
}
