*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;

}
.container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.navbar {
     height: 12%;
     display: flex;
     align-items: center;
}
.logo {
    width:130px;
    height: 100px;

}
.info{
    text-align: center;
    color: blue;
}
nav{
    flex:1;
    text-align: right;
    padding-right: 8%;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 15px;
}
nav ul li a{
    text-decoration: none;
    font-size: 22px;
}
.member{
    text-align: center ;
    font-size: 35px;
    color: red;
}


@media (min-width:768px) {
    .parent1{
    display: flex;
    padding-right: 0px;
    }
    .parent2{
        display: flex;
    }
    .team-info{
        width: 33.33%;
        padding-left: 25%;
    }
    .team-info img {
        height: 350px;
        width: 280px;
    }
    .team-info p{
        width: 300px;
    }
}
.content-table {
    border-collapse: collapse;
    margin: 25px;
    font-size: 0.9em;
    min-width: 500px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
.table h2{
    padding-left: 200px;
}
.content-table thead tr{
    background-color: #009879;
    color: white;
    text-align: center;
    font-weight: bold;
}
.content-table th, .content-table td{
    text-align: center;
    padding: 12px 25px;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}
.QnA{
    padding-left: 20px;
}
.QnA summary{
    color: red;
    font-weight: bolder;
    font-size: 25px;
}
.QnA p{
    padding-top: 15px;
    padding-left: 35px;
    padding-bottom: 15px;
}
.Contact{
    padding-left: 30px;
}
.Contact h3{
    color: blueviolet;
    font-size: medium;
    padding-bottom: 10px;
}
#submit{
    font-size: 20px;
}
.Information{
    padding-left: 30px;
}

.register{
    padding-left: 300px;
}
 
.register p{
    color: blue;
}

.input {
	width: 320px;
	height: 420px;
	top: 20%;
	left: 60%;
	position: absolute;
	box-sizing: border-box;
	
}

.input input{
	width: 100%;
	margin-bottom: 10px;
}

.input input[type="text"], input[type="password"] {
    padding: 10px;
	border-radius: 10px;
	height: 40px;
}

.input input[type="submit"] {
	background: brown;
	color: #fff;
	border-radius: 10px;
	height: 40px;
	transition: transform 0.5s;
	margin-top: 30px;
}

.input input[type="submit"]:hover {
	transform: translateY(-5px);
}

.input a{
	text-decoration: none;
	font-style: italic;
	align: left;
}

.input input[type="button"] {
	background: georgian;
	color: black;
	border-radius: 10px;
	height: 40px;
	transition: transform 0.5s;
	margin-top: 5px;
}

.input input[type="button"]:hover {
	transform: translateY(-5px);
}

.line {
	border-top: 1px solid #222;
	opacity: 0.2;
	margin-top: 20px;
	
	
}

.input p{
	float: right;
}
















