*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
  }
/*code snippet from: https://stackoverflow.com/questions/39571618/removing-the-blue-borders-in-a-summary-element-using-css*/

body{
    font-family: 'Montserrat',sans-serif;

}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
.container{
    max-width: 1300px ;
    margin: auto;
    padding-left: 25px ;
    padding-right: 25px ;
}
.row{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    margin-left: 100px;
}
.button {
    display: inline-block;
    background: #f48b29;
    color: #fff;
    padding: 8px 30px;
    margin: 10px 0px;
    border-radius: 30px;
}
.button:hover{
    background: #7ebdb4;
    /* color:#364547 */
}


#ecommerce_Image{
    width: 50%;

}

/*------------account------------*/
.account-login, .account-register, .account-retrieve, .faqs {
    padding: 50px 0;
    background: white;
}



.question {
    max-width: 1300px ;
    font-size: 22px;
    padding: 50px 0;
    position: relative;

}
.container h1 {
    padding: 20px 0;
    position: relative;
}

.form-login {
    background: radial-gradient(#fff,#ffd6d6);
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
}

.form-register{
    background: radial-gradient(#fff,#ffd6d6);
    width: 500px;
    height: 910px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
}

.form-login span{
    font-weight: bold;
    padding: 0 10px;
    color: black;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;

}
.form-login form, .form-register form{
    max-width: 100%;
    padding: 0 20px;
    position: absolute;
    top: 80px;
}
.form-login input, .form-register input {
    align-items: center;
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border-radius: 10px;
}
.ForgotPassword input {
    width: 30%;
    padding: 0 10px;
    height: 30px;
    border-radius: 10px;
    margin: 10px 0;
}

.form-login button, .form-register button{
    width: 80%;
    cursor: pointer;
    border: none;
}

#Indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
}

#IndicatorQuestion {
    width: 100%;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
}
.form-register [type=radio] {
    width: 50px;
    border: 0px;
    height: 17px;
}
.form-register label{
    display: inline-block;
    font-size: 15px;
    margin-bottom: 5px;


}

  
/*-------------footer-------*/
.footer{
    background:#ffb4b4;
    color: #ffe268;
    font-size: 14px;
    padding: 60px 0 20px;

}
/* .footer .p{
    color: aqua;
} */
.footer-col-1, .footer-col-2, .footer-col-3{
    text-align: center;
    margin-bottom: 20px;


}
/* .footer h3{
    color:#ff523b;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-3{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex:1;
    text-align: center;
}
.footer-col-2 img{
    width:180px;
    margin-bottom: 20px;
}
.footer-col-3 ,.footer-col-4{
    flex-basis: 12%;    
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px; */
/* } */
.menu-icon{
    width: 28px;
    margin-left: 20px;
    /* display:none; */
}




@media only screen and (min-width:100px) and (max-width:1000px)  {
    .col-2 img{
        display: none;
    }
    .account-retrieve, .account-login, .faqs, .account-register{
        height: 130%;
    }

    
    html, body {height: 100%; margin: 0; padding: 0;}
    .findyouraccount [type="submit"], .findyouraccount [type="text"] {
        width: 100%;
    }
    .form-register{
        width: 300px;
    }
    .form-register label{
        font-size: 10px;
        margin-bottom: 5px;

    }
    .form-register [type=radio] {
        width: 30px;
        border: 0px;
        height: 10px;
    }


}
/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1368px) {
/* Styles */
    .account-retrieve, .account-login, .faqs, .account-register{
        height: 120%;
    }

    html, body {height: 110%; margin: 0; padding: 0;}

    .findyouraccount [type="submit"], .findyouraccount [type="text"] {
        width: 80%;
    }
    .form-register label{
        font-size: 10px;
        margin-bottom: 5px;

    }
    .form-register [type=radio] {
        width: 30px;
        border: 0px;
        height: 10px;
    }
}