*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat',sans-serif;

}

a{
    text-decoration: none;
    color: #555;
}
.container{
    max-width: 1300px ;
    margin: auto;
    padding-left: 25px ;
    padding-right: 25px ;
}
.row{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
}


*:focus {
    outline: none;
  }
/*code snippet from: https://stackoverflow.com/questions/39571618/removing-the-blue-borders-in-a-summary-element-using-css*/


.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 70%;
    padding-left: 20%;
}
.button {
    display: inline-block;
    background: #f48b29;
    color: #fff;
    padding: 8px 30px;
    margin: 10px 0px;
    border-radius: 30px;
}
.button:hover{
    background: #7ebdb4;
    /* color:#364547 */
}

.header{
    background: linear-gradient(#dbf6e9,#ffdcdc);
    /* font-size: 100%; */
}
.header h1{
    color:#cc561e ;
}
.header p{
    color:#364547 ;
}
.header .row{
    margin-top: 10px;
}
.categories{
    margin: 70px 0px;}


#ecommerce_Image{
    width: 50%;

}

/*------------account------------*/
.account-login, .account-retrieve, .faqs {
    padding: 50px 0;
    background: white;
    min-height: 100vh;
}

.account-register{
    background: white;
    min-height: 170vh;
    padding: 50px 0;

}


.question {
    max-width: 1300px ;
    font-size: 22px;
    padding: 50px 0;
    position: relative;

}
.container h1 {
    padding: 20px 0;
    position: relative;
}

.form-login {
    margin-top: 30%;
    background: white;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    /* transform: translate(-50%, -50%)  */
}

.form-register{
    background: radial-gradient(#fff,#ffd6d6);
    width: 500px;
    height: 1200px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    border-radius: 20px;
}

.form-login span{
    font-weight: bold;
    padding: 0 10px;
    color: black;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;

}
.form-login form, .form-register form{
    max-width: 100%;
    padding: 0 20px;
    position: relative;
    top: 80px;
}
.form-login input, .form-register input {
    align-items: center;
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border-radius: 10px;
}
.ForgotPassword input {
    width: 30%;
    padding: 0 10px;
    height: 30px;
    border-radius: 10px;
    margin: 10px 0;
}

.form-login button, .form-register button{
    width: 80%;
    cursor: pointer;
    border: none;
}

#Indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
}

#IndicatorQuestion {
    width: 100%;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
}
.form-register [type="radio"] {
    width: 5%;
    border: 0px;
    height: 1rem;
}
.form-register label{
    display: inline-block;
    font-size: 15px;
    margin-bottom: 5px;


}
.form-control small{
    visibility: hidden;
    position: relative;
    top: 0;
    bottom: 0;
    color: red;
    font-weight: bold;
}


  





@media only screen and  (max-width:600px)  {
    .col-2 img{
        display: none;
    }
    .col-2{
        flex: none;
    }

    
    html, body {height: 100%; margin: 0; padding: 0;}
    .findyouraccount [type="submit"], .findyouraccount [type="text"] {
        width: 80%;
    }
    .form-register{
        width: 300px;
    }
    .form-register label{
        font-size: 10px;
        margin-bottom: 5px;

    }
    .form-register [type=radio] {
        height: 1rem;
        border: 0px;
        width: 15%;
    }


}
/*-------------footer-------*/
.footer{
    background:#dbf6e9;
    /* font-size: 14px; */
    padding: 60px 0 20px;

}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{

    box-sizing: border-box;
        /* margin: 10px auto; */
    text-align: center;
    width: 100%;
    float: left;
    flex-basis: 12%;    
    text-align: center;
    font-size: 14px;

}      

.footer-col-1 img{
    width:180px;
    margin-bottom: 20px;
}

ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px; 
}

/*-------------footer responsive-------*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer-col-1{
        width: 100%;
    }
    .footer-col-2, .footer-col-3, .footer-col-4 {
      width: 33%;
    }
    
  }
  @media screen and (max-width: 767px) {
    .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
      width: 100%;
      flex-basis: 100%;    
    text-align: center;
    }
    
  }
  /* desktop */
@media screen and (min-width: 1024px) {
    .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
      width: 25%;
    }
    
}

/*About Us */
.TeamInformation h2{
    color: #cc561e;
    font-weight: 900;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
.TeamInformation p{
    margin-left: 25%;
    margin-right: 17%;
}
.parent1, .parent2{
    display: flex;
    margin-right: 10%;
}
.member{
    margin-left: 20%;
}
.team-info{
    margin-left: 10%;
}
.team-info img {
    height: 75%;
    width: 280px;
}
.team-info p{
    width: 300px;
    margin-bottom: 20px;
}
.members h2{
    color: #cc561e;
    font-weight: 900;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
.member img{
    margin-bottom: 20px;
}
/*ToS */
.ToS h2{
    color: #cc561e;
    margin-left: 4%;
    font-weight: 900;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
.ToS h3 {
    color: #cc561e;
    margin-left: 10%;
    font-weight: 900;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 40px;
}
.ToS p{
    color: #333;
    margin-bottom: 20px;
    padding-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
}
/*Privacy Policy */
.policy h2{
    color: #cc561e;
    margin-left: 52px;
    font-weight: 900;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
.policy h3 {
    color: #cc561e;
    margin-left: 10%;
    font-weight: 900;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 40px;
}
.policy p{
    color: #333;
    margin-bottom: 20px;
    padding-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
}
.h2{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;

}
.profile{
    margin-left: 35%;
    margin-bottom: 32px;
    width: 30%;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
    border: 2px solid    #cc561e;
    border-radius: 10px;
}
.profile img{
    border-radius: 10px;
    height: 32%;
}
.profile h3{
    font-family: sans-serif;
    text-align: center;
    margin: 10px;
}
.userInfo{
    padding-bottom: 32px;
}
.userInfo p{
    padding-left: 32px;
    margin-bottom: 10px;
}
