.information p, h4{
    color: black;
}
.information > h2{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
.TeamInformation h2{
    color: #cc561e;
    font-weight: 900;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
.TeamInformation p{
    margin-left: 25%;
    margin-right: 17%;
} 

button{
    cursor: pointer;
}

.overlay{
    position: fixed;
    background: rgba(71, 69, 69, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 3;
}

.overlay.open{
    display: grid;
    align-items: center;
    justify-items: center;
}
.overlay-inner{
    background: none;
    width: 400px;
    padding: 20px;
    position: relative;
    opacity: 1;
}
.close{
    position: absolute;
    top: 3px;
    right: 0px;
    background: none;
    outline: 0;
    color: #474545;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.close:hover{
    color: #d1a39e;
}
.project-image{
    border-radius: 20px;
    margin-right: -40%;
}