*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    /* background: #dbf6e9; */
  
}
nav label {
  width: 100%;
  float: right;
  display: block;
}
/* .logo{
  width: 80%;
} */
/* table */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .column {
    width: 50%;
  }
  /* nav label {
    width: 100%;
    float: right;
    display: block;
  }
  nav{
    width: 100%;
    float: right;
  } */
  .logo{
    width: 40%;
  }
}
  /* desktops */
  @media screen and (min-width: 1024px) {
    .column {
      width: 50%;
    }
    nav{
      width: 100%;
      float: right;
    }
    .logo{
      width: 25%;
  }
    
}
  /* Responsive nav bar */
  nav input[type="checkbox"] {
    display: none;
  }
  nav label {
    display: none;
  }
  nav ul li {
    width: 100px;
    /* padding: 10px; */
    float: right;
    text-align: right;
    list-style: none;
  }
  nav ul li a:hover {
    color: #a35709;
  }
  nav ul li img:hover {
    background-color: #a35709;
  }
  /* Clearfix */
  ul::after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 1023px) {
    #slogan {
      font-size:x-large;
    }
    #header-content{
      font-size: small;
    }
    #ecommerce_Image{
      width: 60%;
    }
    .logo{
      width: 50%;
  }
    
    nav{
    width: 100%;
    float: right;
  }
  nav label {
    width: 30px;
    float: right;
    display: block;
  }

    nav input[type="checkbox"] ~ ul {
      display: none;
    }

    nav input[type="checkbox"]:checked ~ ul {
      display: block;
      
    }

    nav input[type="checkbox"]:checked ~ ul li {
      width: 95%;
      float: right;
    }
    nav input[type="checkbox"]:checked ~ li:first-child{
      margin-top: 20px;
    }
  }
  body{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin:0;
}
.row{
  display: flex;
  align-items:center;
  flex-wrap: wrap;
  justify-content: space-around;
}
a{
    text-decoration: none;
    color: #555;
}
.header{
    background: linear-gradient(#dbf6e9,#ffdcdc);
    /* font-size: 100%; */
}
.container{
    max-width: 1300px ;
    margin: auto;
    padding-left: 25px ;
    padding-right: 25px ;
}
.header h1{
    color:#cc561e ;
}
.header p{
    color:#364547 ;
}
.header .row{
    margin-top: 10px;
}
/*-------------footer-------*/
.footer{
  background:#dbf6e9;
  /* font-size: 14px; */
  padding: 60px 0 20px;

}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{

  box-sizing: border-box;
      /* margin: 10px auto; */
  text-align: center;
  width: 100%;
  float: left;
  flex-basis: 12%;    
  text-align: center;
  font-size: 14px;

}      

.footer-col-1 img{
  width:180px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-col-1{
      width: 100%;
  }
  .footer-col-2, .footer-col-3, .footer-col-4 {
    width: 33%;
  }
  
}
@media screen and (max-width: 767px) {
  .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    width: 100%;
    flex-basis: 100%;    
  text-align: center;
  }
  
}
/* desktop */
@media screen and (min-width: 1024px) {
  .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    width: 25%;
  }
  
}

ul{
  list-style-type: none;
}
.app-logo{
  margin-top: 20px;
}
.app-logo img{
  width: 140px; 
}

/*-------------footer responsive-------*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-col-1{
      width: 100%;
  }
  .footer-col-2, .footer-col-3, .footer-col-4 {
    width: 33%;
  }
  
}
@media screen and (max-width: 767px) {
  .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    width: 100%;
    flex-basis: 100%;    
  text-align: center;
  }
  
}
/* desktop */
@media screen and (min-width: 1024px) {
  .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    width: 25%;
  }
  
}